
/* PAD TOP */

.col.ptop {
	padding-top: 140px;
}
body.single-job .col.ptop{
		padding-top:92px;
}
.col.ptop.lines_2{
		padding-top:178px;
}
body.single-job .col.ptop.lines_2{
		padding-top:140px;
}
.col.ptop.lines_3{
		padding-top:206px;
}
body.single-job .col.ptop.lines_3{
		padding-top:178px;
}
	
section .entry{
	text-align:left;
	overflow:hidden;
}

/* AUTHOR */

.col > .author {
	margin-bottom:40px;
	overflow:hidden;
}
.col > .author.style2 {
	margin-bottom:20px;
	padding-bottom: 10px;
}
.col > .author.style2 hr {
	margin-bottom:0;
	margin-top: 15px;
}
.col > .author .avatar {
	float:left;
	width:94px;
	margin-right:23px;
}
.col > .author .info {
	float:left;
	width:200px;
}
.col > .author .info strong {
	display:block;
	margin-bottom:10px;
}
.col > .author .info strong a {
	color:#444;
}
.col > .author .info strong a:hover {
	color:#64686A;
}
.col .author .info ul {
	padding-top:14px;
}
.col > .author .info ul li:first-child {
	margin-left:0;
}
.col > .author .desc {
	min-height: 94px;
	padding-left: 315px;
	font-size: 1.28em;
}

/* BOX LAST POST */

.box.lastpost{
	padding: 0;
	background-color:#F1F1F1;
	overflow:hidden;
}
.box.lastpost .row{
	padding: 23px;
	border-bottom: 1px solid #D5D7D6;
	line-height: 170%;
	overflow:hidden;
}
.box.lastpost .row:last-child{
	border-bottom: 0;
}
.box.lastpost .row .share .button{
	float: right;
}
.box.lastpost .row ul li .category{
	display: block;
	margin-bottom: 5px;
	color: #409F89;
	text-transform: uppercase;
}
.box.lastpost .row ul li strong{
	font-size: 1.28em;
}
.box.lastpost .row ul li strong a{
	display: block;
	color: #444;
}
.box.lastpost .row ul li strong a:hover{
	color:#64686A;
}
.box.lastpost .row ul li .tags{
	margin: 10px 0 -6px 0;
}

/* BOX AGENCIES */

section .box ul.agencies{
	margin-bottom:11px;
	margin-left:-12px;
	overflow:hidden;
}
section .box ul.agencies li{
	float:left;
	width:91px;
	margin:0 0 12px 12px;
	border:1px solid #D5D7D6;
}
section .box ul.agencies li.dark{
	background-color:#505252;
}
section .box ul.agencies li img{
	padding-top:4px;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	zoom: 1;
}
section .box ul.agencies li:hover img{
	filter: alpha(opacity=50);
	opacity:.50;
}

/* MAP EVENT */

#map_event{
	padding: 20px;
	background-color: #F1F1F1;
	overflow: hidden;
}
#map_event iframe{
	float: left;
}

/* MAP EVENTS */

.colmap{
	width:100%;
	margin-bottom: 23px;
}
#map_events{
	width:100%;
	height:700px;
}

.infowindow.event p{
	margin-bottom: 10px;
}
.infowindow.event p:last-child{
	margin-bottom: 0p
}

/* LIST ITEMS JOBS */

.listitems.job ul{
	margin:-12px 0 23px 0;
}
.listitems.job.last ul{
	margin-top:0;
}
.listitems.job.last ul li:last-child{
	border-bottom: none;
}
.listitems.job ul > li .position,
.listitems.job ul > li .location,
.listitems.job ul > li .type{
	float:left;
}
.listitems.job ul > li.tit .position,
.listitems.job ul > li.tit .location,
.listitems.job ul > li.tit .type{
	line-height:30px;
}
.listitems.job.full ul > li.tit .position,
.listitems.job.full ul > li.tit .location,
.listitems.job.full ul > li.tit .type{
	line-height:normal;
}
.listitems.job ul > li .position{
	width:55%;
}
.listitems.job ul > li .position a{
	font-size:1.3em;
	color:#444;
	font-weight:bold;
}
.listitems.job ul > li .position a:hover{
	color:#64686A;
}
.listitems.job ul > li .position em{
	font-weight:bold;
}
.listitems.job ul > li .position img{
	float:left;
	margin-right: 15px;
}
.listitems.job ul > li .location{
	width:25%;
}
.listitems.job ul > li .type{
	width:20%;
}
.listitems.job ul > li > .type > span{
	display:block;
}
.listitems.job.full ul > li > .type > span,
.listitems.job ul > li.tit > .type > span{
	display: inline-block;
	margin-top:0;
}
.listitems.job ul > li.new > .type > span:after{
	content:'NEW';
	display:inline-block;
	float:right;
	margin-right:20px;
	padding:1px 3px;
	background-color:#DF6C4F;
	color:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.listitems.job ul > li em{
	display:block;
	margin-top:10px;
	color: #409F89;
	font-style:normal;
}
.listitems.job ul > li .location em{
	color:#DF6C4F;
}

/* BOX COMPANY */

.box.company{
	background-color:#F1F1F1;
	overflow:hidden;
}
.box.company .logo{
	float:left;
	width:116px;
}
.box.company .info{
	float:left;
}
.box.company .info ul{
	margin-bottom:20px;
	overflow:hidden;
}
.box.company .info li{
	line-height:170%;
}
.box.company .info li:first-child strong{
	text-transform:uppercase;
}

/* BOX NEWSLETTER */

.box.newsletter p:nth-of-type(1) {
	font-size: 1.28em;
}

/* LIST POST */

section .entry .listpostfree{
	margin-bottom: 23px;
	overflow: hidden;
}
section .entry .listpostfree p {
	margin-bottom: 10px;
}

section .entry .listpost{
	clear: both;
	margin-bottom:0;
	overflow:hidden;
}
section .entry .listpost li{
	margin-bottom:20px;
	list-style:none;
	overflow:hidden;
}
section .entry .listpost li{
	max-width: 100%;
	height: auto;
}
section .entry .listpost li h3,
section .entry .listpost li h4,
section .entry .listpostfree h3{
	margin-bottom:10px;
	font-weight:bold;
}
section .entry .listpost li h3{
	font-size: 1.3em;
}
section .entry .listpost li h3 a,
section .entry .listpost li h4 a{
	color:#444;
}
section .entry .listpost li h3 a:hover,
section .entry .listpost li h4 a:hover{
	color:#aaa;
}
section .entry .listpost li i{
	display:block;
	margin-top:4px;
	color:#409F89;
	font-style:normal;
}
section .entry .listpost li a img {
	zoom: 1;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
section .entry .listpost li a:hover img {
	filter: alpha(opacity=75);
	opacity:.75;
}
section .entry .listpost li img {
	max-width:100%;
	height:auto;
}

/* View2 */

section .entry .listpost.view2 li{
	float:left;
	width:48.5%;
}
section .entry .listpost.view2 li:nth-child(odd) {
	clear:both;
}
section .entry .listpost.view2 li:nth-child(even) {
	float:right;
}
section .entry .listpost.view2 li img {
	width:100%;
	height:auto;
}

/* View3 */

section .entry .listpost.view3 li{
	margin-bottom:24px;
	padding-bottom:20px;
	border-bottom: 1px solid #D5D7D6;
}
section .entry .listpost.view3 li:last-child{
	border:none;
}
section .entry .listpost li .pic{
	width:48.5%;
	margin:0;
}
section .entry .listpost li .pic.left{
	float:left;
	margin-right:20px;
}
section .entry .listpost li .pic.right{
	float:right;
	margin-left:20px;
}

section .entry .listpost li .pic.right i {
	text-align:right;
}
section .entry .listpost li .pic img {
	width:100%;
	height:auto;
	margin-top:41px;
}
section .entry .listpost li p:last-child{
	margin-bottom:0;
}

/* View4 */

section .entry .col{
	float:left;
	margin-left:0;
}
section .entry .col.right{
	float:right;
}
section .entry .col.n3{
	width:74%;
}
section .entry .col.n1{
	width:23%;
}
section .entry .col.n2{
	width:48.5%;
}
section .entry .col.n1.mright{
	margin-right:2.65%;
}
section .entry .col.n1.mleft{
	margin-left:2.65%;
}
section .entry .col.n1 img,
section .entry .col.n2 img,
section .entry .col.n3 img {
	max-width:100%;
	height:auto;
}

/* View5 */

section .entry .listpost.mosaic {
	width: 971px;
}
section .entry .listpost.mosaic{
	margin-left: -30px;
}
section .entry .listpost.mosaic li{
	float: left;
	width: 455px;
	margin-left: 30px;
}
section .entry .listpost.mosaic li .pic img {
	width:100%;
	height:auto;
}

/* LIST ITEMS */

.listitems h4 {
	margin: 23px 0 0 23px;
}
.listitems.last h4 {
	margin: 0;
}
.listitems ul li {
	padding: 23px 23px 18px 23px;
}
.listitems.last ul li {
	padding: 23px 0 18px 0;
}
.listitems ul li .photo{
	float: left;
	margin: 0 20px 0 0;
}
.listitems ul li .place{
	display: block;
	margin-bottom: 8px;
	color: #409F89;
}
.listitems ul li h3{
	margin-bottom: 10px;
	font-weight: bold;
}
.listitems ul li h3 a{
	color: #444;
}
.listitems ul li h3 a:hover{
	color:#64686A;
}
.listitems ul li div.tags {
	clear: none;
}
aside .listitems ul li div.tags  {
	padding-top: 10px;
	clear: both;
}
/* RELATED ARTICLES */

.listitem.blog li .category,
.listitem.blog li .author,
.listitem.blog li .stats,
.listitem.blog li .tags
 {
	display: none;
}
.listitem.blog > li {
	width: 298px;
	margin-bottom: 0;
}
.listitem.blog > li img {
	width: 100%;
	height: auto;
}
.listitem.blog li h3 {
	font-size: 1.6em;
	font-weight: bold;
	text-align: left;
}

/* VIDEO */

.video-container {
	position: relative;
	height: 0;
	margin-bottom: 20px;
	padding-bottom: 56.25%;
	padding-top: 30px;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ALERT DOWN BOOK */

#alert-downbook{
	height: 250px;
}
#alert-downbook .button{
	margin-right: 10px;
	overflow: hidden;
}

#alert-downbook .button.tweet{
	position: relative;
	background-color: #25B6E6;
}
#alert-downbook .button.tweet em{
	display: inline-block;
	padding-left: 28px;
	font-style: normal;
}
#alert-downbook .button.tweet em:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -5px;
	width: 40px;
	height: 33px;
	background-image: url(../images/bg-sprite-signup.png);
	background-repeat: no-repeat;
	background-position: -59px -129px;
	}
#alert-downbook .button.tweet span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 33px;
	text-indent: 34em;
	overflow: hidden;
}


/* FILE TYPES */

.filetype:after{
	content: '';
	display: block;
	clear: both;
}
.filetype li{
	float: left;
	overflow: hidden;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.filetype li a {
	display: block;
	position: relative;
	width: 120px;
	height: 119px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/bg-typefiles.png);
	
}
.filetype li:hover{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.filetype li a div{
	position: absolute;
	top: 35px;
	left: 29px;
	width: 62px;
	height: 62px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.filetype li.pdf a div{
	background-color: #B80C00;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#E50720), to(#B80C00));
	background: -webkit-radial-gradient(circle, #E50720, #B80C00);
	background: -moz-radial-gradient(circle, #E50720, #B80C00);
	background: -ms-radial-gradient(circle, #E50720, #B80C00);
}
.filetype li.epub a div{
	background-color: #85B437;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#A8CA7F), to(#85B437));
	background: -webkit-radial-gradient(circle, #A8CA7F, #85B437);
	background: -moz-radial-gradient(circle, #A8CA7F, #85B437);
	background: -ms-radial-gradient(circle, #A8CA7F, #85B437);
}
.filetype li.azw a div{
	background-color: #1E6FBC;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#429ED6), to(#1E6FBC));
	background: -webkit-radial-gradient(circle, #429ED6, #1E6FBC);
	background: -moz-radial-gradient(circle, #429ED6, #1E6FBC);
	background: -ms-radial-gradient(circle, #429ED6, #1E6FBC);
}
.filetype li.mobi a div{
	background-color: #FF9326;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFAC59), to(#FF9326));
	background: -webkit-radial-gradient(circle, #FFAC59, #FF9326);
	background: -moz-radial-gradient(circle, #FFAC59, #FF9326);
	background: -ms-radial-gradient(circle, #FFAC59, #FF9326);
}
.filetype li a div span{
	position: relative;
	top: 25px;
	display: block;
	text-align: center;
	color: #fff;
}

/* MEDIA QUERIES */

/* 1423 + 25 + 25 */

@media screen and (max-width: 1483px) {
	
	/* CONTAINER */

	.container {
		clear: both;
		margin-right: 421px;
	}
	
	.col.four {
		width: 100%;
	}

	.col.two {
		width: 398px;
	}
	.col.two img {
		max-width: 100%;
		height: auto;
	}

	.newsletter input.email {
		width: 224px;
	}

	.entry img{
		max-width: 100%;
		height: auto;
	}

	/* RELATED ARTICLES */

	.listitem.blog > li {
		width: 238px;
	}

	/* MOSAIC */

	section .entry .listpost.mosaic {
		width: 791px;
	}
	section .entry .listpost.mosaic li{
		width: 365px;
	}

}

/* 1182 + 25 + 25 */

@media screen and (max-width: 1232px) {

	section .col.two,
	body.single-job section hr {
		display: none;
	}

	/* CONTAINER */

	.container {
		margin-right:0;
	}

	.col .entry .ad {
		margin-left:0;
	}

	/* RELATED ARTICLES */

	.listitem.blog > li {
		width: 298px;
	}

	/* MOSAIC */

	section .entry .listpost.mosaic {
		width: 102.5%;
		margin-left: -2.5%;
	}
	section .entry .listpost.mosaic li{
		width:47%;
		margin-left: 2.5%;
	}
	
}

/* 941 + 25 + 25 */

@media screen and (max-width: 991px) {
	
	section {
		padding-bottom:0;
	}
	
	.container {
		margin-right:0;
		overflow:hidden;
	}
	.col.ptop.lines_2, .col.ptop.lines_3, .col.ptop.lines_4 {
		padding-top:0!important;
	}
	
	.col.ptop {
		padding-top: 0;
	}
	
	/* BOX AUTHOR */
	
	.col > .author {
		margin-bottom: 10px;
	}
	.col > .author .desc {
		display: block;
		clear: both;
		padding:20px 0 0 0;
	}

	/* RELATED ARTICLES */

	.listitem.blog > li {
		width: 218px;
	}
	
}

/* 700 + 25 + 25 */

@media screen and (max-width: 750px) {

	section .entry .col.n1,
	section .entry .col.n2,
	section .entry .col.n3 {
		display:block;
		width: 47.5%;
		float:left;
	}
	section .entry .col.n1:nth-child(even),
	section .entry .col.n2:nth-child(even),
	section .entry .col.n3:nth-child(even) {
		float:right;
	}
	section .entry .col img {
		display:block;
		width: 100%;
		height:auto;
	}

	section .entry .ads {
		float: none;
		margin: 10px 0 20px 0;
	}

	/* RELATED ARTICLES */

	.listitem.blog > li:nth-child(2),
	.listitem.blog > li:nth-child(3){
		display: none;
	}
	.listitem.blog > li {
		width: 100%;
	}

	/* LISTITEM MOSAIC */

	section .entry .listpost.mosaic{
		margin-left: 0;
	}
	section .entry .listpost.mosaic li{
		float: none;
		width: 100%;
		margin-left: 0;
	}
	
}

/* VERTICAL / Target portraitsmartphones */

@media screen and (max-width:479px) {

}
