x   /*.fs1 {*/
/*font-size: 2em;*/
/*}*/

/*меню*/

ul.menu {
    position: relative;
    text-align: justify;
    /*border: 1px solid silver;*/
    /*height: 2.2em;*/
    min-width: 800px;
    z-index: 1000;
}

ul.menu li a {
    /*font-weight: bold;*/
    text-transform: uppercase;
    text-decoration: none;
    /*padding: 8px;*/
    /*font-weight: bold;*/

}
ul.menu li a:hover{

}
ul.menu li {
    display: inline-block;
    /*background: silver;*/
    cursor: pointer;
    text-align: center;
    /*display: inline;*/
}

ul.menu li.sepa{
    padding: 4px;

}

ul.menu:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
}

ul.menu li:hover {
    /*background: #7f7f7f;*/

}

ul.menu li:hover a {
    /*color: white;*/
}

.hright .ico{
    font-size: 24px;
    left: 1px;
    position: relative;
    top: 6px;
    margin-right: 8px;

}

.link1:hover [data-icon]:before,.link2:hover [data-icon]:before{
    color: #fff !important;
}

.title,.title-main {
    color: #808080;
    font-weight: normal;
    font-size: 28px;
    padding: 25px 0px;
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    line-height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:15px;

}

.form_buy_mobile{
    display: none;
}

.page_7 .title{
    /*height: 24px;*/
    /*padding-bottom: 22px;*/
    /*padding-top: 9px;*/
}

.title{
    /*background: url("../img/sepa2.png") repeat-x left center;*/
    background: url("../img/sepa3.png") repeat-x left center;
    margin-bottom: 21px;
    margin-top: 1px;
    padding-bottom: 10px;
    padding-top: 10px;

}
.title span{
    background: #fff;
    padding: 0px 10px;
}
.sub-content {
    /*color: #808080;*/
    color: #010101;
}

/*#header .left,#header .right{*/
/*border-bottom: 2px solid #808080;*/
/*width: 400px;*/
/*font-size: 12px;*/
/*height: 57px;*/
/*padding-top: 41px;*/
/*height: ;*/
/*}*/

/*#header .left{*/

/*}*/

.tableh td {
    text-align: center;
    vertical-align: middle;
}

.tableh a {
    text-decoration: none;
}

.tableh a:hover {
    text-decoration: underline;
}

.tdl, .tdr {
    border-bottom: 2px solid #808080;
    /*width: 400px;*/
    /*font-size: 12px;*/
    height: 57px;
    /*padding-top: 41px;*/
}

.link1, .link2,.mail {
    text-decoration: none;
    /*margin: 0 27px;*/
    /*padding: 5px 0 5px 30px;*/
    /*margin: 0 34px;*/
}
.link1, .link2,.hleft a,ul.menu li a {
    padding: 8px;
    /*padding-bottom: 6px;*/
    padding-bottom: 8px;
    padding-top: 10px;

}
.link1:hover, .link2:hover,.hleft a:hover,ul.menu li a:hover,.mail:hover{
    background: #788087;
    color: #fff;
}
ul.menu li.active a{
    color: #acacac;
}
.link1{
    /*background: #7f7f7f;*/
    /*color: #fff;*/
}

.link1 {
    /*background: url("../img/ico1.png") no-repeat left center;*/
}

.link2 {
    /*background: url("../img/ico2.png") no-repeat left center;*/
}

.tdl a, .tdl span {
    margin: 0 34px;
}

.block-menu {
    padding-top: 11px;
}

/*футер*/

#footer {
    text-align: center;
}

#footer div {
    padding-top: 38px;
    border-top: 2px solid #9B9B9B;
}

.products .price2{
    font-family: 'proxima_nova_rgregular';
}

#footer a {
    margin: 0px 30px;

    border-bottom: 1px solid ;
    display: inline-block;
    height: 16px;

    text-decoration: none;
}
#footer a:hover{
    /*text-decoration: none;*/
    border-bottom: 0px;
}

.flink{
    /*text-decoration: none;*/
}
.doplink{
   /* border-bottom: 1px solid ;
    display: inline-block;
    height: 16px;*/
    /*text-decoration: underline;*/
}
.doplink:hover{
    /*border-bottom: 0px;*/
}
.filter-size {
    background: #DADEE2;
    /*font-family: 'proxima_nova_rgregular';*/
    font-family: 'proxima_nova_rgbold';
    font-size: 14px;
    text-transform: uppercase;
    /*margin-top: 16px;*/
    /*padding-bottom: 12px;*/
    /*padding-top: 14px;*/
    margin-top: 10px;
    padding-bottom: 12px;
    padding-top: 4px;
    margin-bottom: 1px;
    color: #959595;
}

div.ui-loader {
    display: none;
}

div.select div.text{
    float: left;
}
span.selectbox{
    cursor: pointer;
}
 div.select {
    border: 2px solid #788087;
    /*margin-left: 13px;*/
    /*margin-right: 13px;*/
    padding: 2px 5px;
    font-weight: bold;
    height: 17px;
    padding-bottom: 3px;
    padding-top: 4px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.filter-cat a {
    font-size: 24px;

}

.sepa {
    background: url("../img/sepa.png") no-repeat center;
    padding: 0px;
}

.filter-cat {
    padding-left: 80px;
    padding-right: 85px;
    padding-top: 40px;

}

.filter-cat a {
    text-transform: uppercase;
    font-size: 24px;
    /*font-weight: bold;*/
}

.prod_link {
    display: block;
    text-transform: uppercase;
    font-weight: normal;

    padding-bottom: 5px;
    padding-top: 11px;
}

.products * {
    /*font-family: 'proxima_nova_rgregular';*/

}

.buy {
    display: block;
    /*background: url("../img/buy.png") no-repeat;*/
    width: 84px;
    /*height: 24px;*/
    margin: 0px auto;
    cursor: pointer;
    background: #000;
    color: #fff;
    /*font-weight: bold;*/
    text-decoration: none;
    font-size: 13px;
    font-family: 'proxima_nova_rgbold';
    text-transform: uppercase;
    height: 21px;
    padding-top: 3px;
}

.price2 {
    text-decoration: line-through;
}

.prod_img {

    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-border-radius: 4px;*/

    width: 200px;
    margin: 0px auto;
    padding-top: 2px;
}

.prod_img a, .prod_img a img {
    display: block;
}

.products {
    padding-top: 37px;
}

.price1 {
    color: #000;
}

.buy_div {
    padding-bottom: 38px;
    padding-top: 9px;
}

.prod_attr{
    display: none;
}

.filter-cat a.active{
    color: #959595;
    text-decoration: none;
}

.hide{
    display: none;
}

.page ul{
    list-style: none;
    display: none;
    padding: 5px;
    margin: 10px 0px;
    /*-webkit-border-radius: 8px;*/
    /*-moz-border-radius: 8px;*/
    /*border-radius: 8px;*/
    /*-webkit-box-shadow: #666 0px 2px 3px;*/
    /*-moz-box-shadow: #666 0px 2px 3px;*/
    /*box-shadow: #666 0px 2px 3px;*/

    /*border: 1px solid #B5B2B2;*/
}
.page h3{
    cursor: pointer;
    padding: 5px 0px;
}
.page h3:hover{
    /*text-decoration: underline;*/
}

a.logo{
    /*font-size: 104px;*/
    text-decoration: none;
    text-align: center;
}
a.logo span{
    font-size: 100px;
}

.point{
    font-size: 7px;
    margin: 0 16px;
    position: relative;
    top: -1px;
}

.logom{
    display: none;
}
.point{
    display: none;
}

.vk{
    width: 140px;
    margin: 0px auto;
}

.products .flex-direction-nav{
    display: none;
}