
@font-face {
font-family: 'proxima_nova_rgbold';
    src: url('../fonts/Proxima-Nova-Bold.otf');
}

@font-face {
font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
font-family: 'rubl';
    src: url('../fonts/rubl.otf');
}

@font-face {
    font-family: "Web Symbols";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/WebSymbolsLiga-Regular.otf');
}

@font-face {
    font-family: 'RICH-Icons';
    src:url('../fonts/RICH-Icons.eot');
    src:url('../fonts/RICH-Icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RICH-Icons.woff') format('woff'),
    url('../fonts/RICH-Icons.ttf') format('truetype'),
    url('../fonts/RICH-Icons.svg#RICH-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'RICH-Icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    /*color: #666;*/
    color: #000;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.rich-zoom, .rich-VK, .rich-rubl, .rich-menu, .rich-mail, .rich-logo, .rich-instagram, .rich-dot, .rich-crownsquare, .rich-crown, .rich-arrow-right, .rich-arrow-left, .rich-arrow-dot {
    font-family: 'RICH-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.rich-zoom:before {
    content: "\21";
}
.rich-VK:before {
    content: "\22";
}
.rich-rubl:before {
    content: "\23";
}
.rich-menu:before {
    content: "\24";
}
.rich-mail:before {
    content: "\25";
}
.rich-logo:before {
    content: "\26";
}
.rich-instagram:before {
    content: "\27";
}
.rich-dot:before {
    content: "\28";
}
.rich-crownsquare:before {
    content: "\29";
}
.rich-crown:before {
    content: "\2a";
}
.rich-arrow-right:before {
    content: "\2b";
}
.rich-arrow-left:before {
    content: "\2c";
}
.rich-arrow-dot:before {
    content: "\2d";
}
