#wrapper {
    width: 920px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*padding: 0px 20px;*/
}

body, body a {
    color: #000;
    font-size: 15px;
    font-family: 'proxima_nova_rgbold';
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 150px;
    /*background: #FFE680;*/
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
    padding: 0 0 70px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 920px;
    margin: -80px auto 0;
    height: 80px;
    /*background: #BFF08E;*/
    position: relative;

}
.tableh a.logo:hover{
    text-decoration: none;
}
.tableh a.logo {
    /*font-size: 800%;*/
    /*position: relative;*/
    /*top: 110px;*/
    margin: 0 15px;
}

.mobile{
    display: none;
}

.page{
    font-family: 'proxima_nova_rgregular';
}