@media (min-width: 320px) and (max-width: 765px) {

    .desctop, .planshet {
        display: none !important;
    }
    body, .ui-page-active
    {
      position: relative;
      z-index: -51;
    }
    #wrapper {
        width: 320px;
        padding: 0px;
        position: relative;
        z-index: -50;
    }

    #footer {
        width: 320px;
    }

    .sub-head4{
        display: block !important;
    }

    .mob{
        /*z-index: 99;*/
        position: relative;
    }

    ul.menu {
        min-width: inherit;
        display: none;
    }

    .head-m .rasporka{
        display: block !important;
    }

    ul.menu li {
        display: block;
        background: #DADEE2;
        margin-bottom: 2px;
        padding: 13px;
        /*width: 294px;*/
    }

    ul.menu li a {
        color: #788087;
    }

    ul.menu li.sepa {
        display: none;
    }

    #header {
        height: auto;
        position: relative;
    }

    .desctop {
        display: none;
    }

    .block-menu {
        padding: 0px;
    }

    .hleft, .hright {
        padding: 0px;
        width: 109px;
        background: none;
    }

    .hright a span {
        /*display: none;*/
    }

    .hleft {
        float: right;
    }

    .hright {
        float: left;
    }

    .link2 {
        margin: 0px;
    }

    .hleft > span, .hleft > a {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-link, .mobile-size {
        font-weight: normal;
        color: #959595;
        font-family: 'proxima_nova_rgregular';
        font-size: 12px;
    }

    .filter-size {
        display: none;
    }

    .products .prod {
        float: none;
        width: 100%;
    }

    #footer {
        display: none;
    }

    #content {
        padding: 0px;
        position: relative;
        z-index: -10;
    }

    .title-main, .title {
        padding: 0px;
        padding-top: 12px;
        font-size: 21px;
        line-height: 26px;
        padding-top: 0px;
        margin-top: 20px;
    }

    .title-main {
        /*line-height: 27px;*/
        /*font-size: 21px;*/
    }

    .title, {
        padding: 24px 0 0;
        font-size: 20px;
        line-height: 26px;
    }

    .filter-cat {
        padding: 26px 42px 0;
        padding-left: 43px;
        padding-right: 42px;
        padding-top: 27px;
    }

    .filter-cat a {
        font-size: 20px;
    }

    .filter-cat a span {
        display: none;
    }

    .mobile_menu {
        text-align: center;
        background: #959595;
        padding: 13px 4px;
        margin-bottom: 2px;
        position: relative;
        top: -1px;
        z-index: 100;
        /*z-index: 9999;*/
    }

    .sub-content11 ul.menu{
        position: fixed !important;
        top: 46px;
        width: 320px;
        z-index: 99;
    }

    .mobile_menu a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }

    a.logo {
        font-size: 100px;
    }

    .hright a span.ico {
        /*display: block;*/
    }

    .hright .word {
        display: none;
    }

    .prod_img {
        width: 300px;
    }

    .mobile-link {
        padding-top: 15px;
        padding-bottom: 2px;
    }

    .hright .ico {
        font-size: 25px;
        margin: 0px;
    }

    .title{
        margin-top: 29px;
        margin-bottom: 29px;
    }

    .mobile-size {
        padding-top: 14px;
    }

    .mobile-size div.select {
        margin-top: 5px;
    }

    .products {
        padding-top: 26px;
    }

    .filter-cat a {
        font-size: 17px;
    }

    .prod_link {
        padding-bottom: 1px;
        padding-top: 19px;
    }

    .prod_link a {
        font-family: 'proxima_nova_rgbold';
    }

    .price1 {
        font-family: 'proxima_nova_rgbold';
    }

    .buy_div {
        padding-top: 15px;
    }

    .buy {
        padding-bottom: 8px;
        width: 139px;
        font-size: 21px;
        height: 21px;
        padding-top: 10px;
    }

    .buy_div {
        padding-bottom: 50px;
    }

    div.select#select_size {
        border: 2px solid #959595;
        margin-left: 13px;
        margin-right: 13px;
        padding: 3px 10px;
        font-weight: bold;
        margin-top: 7px;
    }

    /*товар*/

    .froduct_img_thumb, .fproduct_vk {
        display: none;
    }
    .backto{
        display: none;
    }

    .flex-direction-nav{
        display: none;
    }

    .product-detals {
        width: 100%;
    }

    .form_buy div > .left,
    .form_buy div > .right {
        float: none;
    }

    .left, .right {
        /*float: none;*/
    }

    .form_buy input[type="text"] {
        width: 270px;
        height: 19px;
    }
    .form_buy input[type="text"] {
        width: 274px;
        height: 19px;
    }
    .form_col{
        padding-bottom: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .form_item_title {
        text-align: left;
        /*margin-left: 4px;*/
    }

    .fproduct_img img {
        width: 320px;
        /*display: block;*/
        margin-bottom: 10px;
    }

    .fproduct_descr {
        text-align: center;
    }
    .fproduct_img{
        width: auto;
        height: auto;
    }
    .form_buy{
        height: auto;
        text-align: left;
        width: auto;
    }

    .mobole-phone {
        position: relative;
        /*top: -73px;*/
    }

    .your-name {
        position: relative;
        /*top: 67px;*/
    }


    .needs-sizes{
        padding-bottom: 13px;
        position: relative;
        top: -6px;
    }

    .form_buy .textarea_div{
        height: 55px;
        margin-left: 8px;
        width: 270px;
    }

    .form_item_title2{
        padding-left: 8px;
    }

    .required_fields{
        font-family: Arial;
        font-size: 12px;
        font-weight: normal;
        padding-top: 21px;

    }
.fproduct_img{
    display: none;
}
    .red{
        margin-right: 12px;
    }

    .form_buy .link-buy{
        padding-top: 36px;
    }

    .sub-head2{
        background: none repeat scroll 0 0 #FFFFFF;
        position: fixed;
        z-index: -1 !important;
        width: 320px !important;
        top: -1px;
    }
    span.ui-btn-inner{
        /*width: 35px;*/
    }
    .content2{
        /*margin-top: 100px !important;*/
    }

    .fixed_menu{
        position: fixed !important;
        z-index: 999;
        width: 320px !important;
        top: 45px;
    }
    .sub-head2 ul.fixed_menu{
        /*top: 63px;*/
    }
    .page{
        width: 300px!important;
        padding: 0px 10px;
    }

    .mobi{
        /*overflow: hidden;*/
    }

    .sub-head .logod{
        display: block;
    }

    .sub-head2 .logod{
        display: none;
    }
    .sub-head2 span.logom{
        font-size: 45px;
    }

    .sub-head2 a.logo{
        margin-left: -23px;
        background: #000 !important;
        /*top: 15px;*/
    }

    .sub-head2{
        background: #959595;
        height: 46px;

        /*display: none;*/


    }

    .fixed_menu{
        display: none;
    }

    .sub-head2 div.select.select_size{
        /*top: -19px;*/
        position: relative;
        margin-top: 0px;
    }
    .sub-head2 .link1,.sub-head2 .link2{
        display: none;
    }
    .point{
        display: inline;
        /*color: #fff;*/
    }
    .logom{
        display: block;
    }

    .mob a span[data-icon]:before{
        color: #788087;
        font-size: 6px;
    }

    .link1:hover, .link2:hover,.hleft a:hover,ul.menu li a:hover,ul.menu li.active a,.mail:hover{
        /*background: none;*/
        color: #fff;
    }
    ul.menu li a:hover{
        background: none !important;
    }


    .sub-head2 .mobile-link{
        display: none;
    }

    .return{
        display: none;
    }

    .sub-head2 .return{
        display: block;
    }

    .return a.return{
        color: #959595;
        background: url("../img/ugol.png") no-repeat left center #fff;
        text-decoration: none;
        padding: 5px;
        height: 16px;
        padding-bottom: 5px;
        /*padding-left: 5px;*/
        padding-top: 5px;
        padding-left: 12px;
        padding-right: 3px;
    }

    .return a.return{
        opacity: 0;
        cursor: none;
    }

    .page_ .return a.return{
        opacity: 1;
        cursor: pointer;
    }



    div.return{
        padding-left: 7px;
        padding-top: 10px;
    }

    div.return span[data-icon]:before {
        font-size: 26px;
        cursor: pointer;
        background: #959595;
        color: #fff;
        position: relative;
        left: -5px;
    }

    .sub-head2 .hleft,.sub-head2 .hright{
        width: 130px;
    }

    .sub-head2 .mobile-size span.mobile{
        display: none;
    }

    #wrapper .sub-head2 .mob-cat{
        display: inline;
    }

    #wrapper .sub-head2 div.select_size,#wrapper .sub-head2 > .mob-cat{
        margin: 0px;
        padding: 4px;
        width: 57px;
    }
    .mob-cat{
        display: none;
    }

    .lupa{
        display: none;
    }

    .zakak .fproduct_title{
        font-size: 13px;
        padding-bottom: 0;
        padding-top: 14px;
        text-transform: uppercase;
    }

    .zakak .fproduct_price {
        padding-top: 1px;
    }

    .zakak .fproduct_price span{
        font-size: 14px;
    }
    .zakak  .link-buy {
        padding-top: 26px;
    }

    .link-buy{
        text-align: center;
    }

    .zakak > div{
        display: block;
    }

    .body-slider{
        padding-top: 63px;
    }

   .full_product > .product > .left{
       display: none;
   }
    .error{
        right: 2px;
        bottom: 30px;
        left: auto;
        font-size: 11px;
    }

    .hleft, .hright{
        border-bottom: none;
    }

    .link1{
        left: 42px;
        position: relative;
    }

    .link2{
        position: relative;
        right: 44px;
    }

    .sub-head2 div.select{
        position: relative;
        top: -7px;
    }

    .hright a span[data-icon]:before,
    .hright a:hover span[data-icon]:before
    {
        color: #788087 !important;
        /*background: none !important;*/
    }

    .hright a.link1:hover,.hright a.link2:hover{
        background: none !important;
    }

    .products .flex-control-nav,.body-slider .flex-control-nav {
        bottom: 4px;
        z-index: 97;
    }

    .products .flex-control-paging li a,.body-slider .flex-control-paging li a{
        width: 8px;
        height: 8px;
    }
    .mobile-size span.mobile{
        top: 1px;
    }
    .fproduct_title,.fproduct_descr,.fproduct_size,.fproduct_price{
        display: none;
    }
    .form_buy{
        margin-top: 0px;
        padding-top: 8px;
    }
    .full_product{
        padding-top: 10px;
    }
    .page_7 .sub-content h3 a{
        font-size: 16px;
        font-family: 'proxima_nova_rgregular';
    }

    .main-url a, .main-url a:hover{
        border-bottom: 0px !important;
        font-weight: normal;
        color: #000 !important;
        display: block;
    }

    .main-url:hover a, .main-url:hover span[data-icon]:before{
        color: #000;
    }
    .page_7 .sub-content h3{
        background: #f5f5f5;
        margin-bottom: 2px;
        line-height: 16px;
        padding: 0px;
        padding-bottom: 15px;
        padding-left: 9px;
        padding-top: 15px;
        position: relative;
    }
    .page_7 .sub-content h3:hover{
        /*background: #ffffff;*/
    }
    .main-url .contr{
        display: none;
    }

    .contrm{
        display: block !important;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -12px;
        /*float: right;*/
    }

    .main-url:hover{
        /*background: #f5f5f5;*/
    }

    .page_7 .sub-content h3{

    }

    .page_7 .sub-content h3 span{
        padding: 0px;
    }

    .mobile-size span.selectbox{
        margin: 0px;
    }

    .hleft span, .hleft a{
        margin: 0px;
    }

    .sub-head span.select1{
          /*display: none;*/
      }

    .sub-head .select1{
        display: none;
    }


    .sub-head2 .select1{
        display: inline;
    }


    .sub-head2 span.select1{
        /*display: inline-block;*/
    }

    .sub-head .logom{
        display: none;
    }

    .sub-head2 .logom{
        display: block;
    }

    .mainmobile_form .form_buy_mobile{
        /*display: block;*/
    }
    .sub-content4 .mainmobile_form{
        display: block;
        position: fixed;
        top: 44px;
        z-index: 1111;

    }

    .wrap .sub-content .sub-content,
    .wrap .sub-content h1{
        background: #fff !important;
    }
    .wrap .sub-content .sub-content,
    .wrap .sub-content h1,
    /*.wrap #header*/
    {
        /*display: none!important;*/
    }
    .wrap .sub-content .sub-content,
    .wrap .sub-content h1,
    .wrap .products{

        /*opacity: 0;*/
        /*display: none;*/
    }

    .mainmobile_form .required_fields{
        display: none;
    }
    .form_buy_mobile{
        /*display: block;*/
        /*position: fixed;*/
        /*top: 145px;*/

    }

    .mainmobile_form2,.mainmobile_form2 > div{
        display: block;
    }

    .mainmobile_form2{
        /*position: absolute;*/
        /*position: fixed;*/
        width: 320px;
        z-index: 98;
        /*top: 146px;*/
        padding-top: 8px;
    }
    .sub-content11 .mainmobile_form2{
        /*top: 46px;
        position: fixed;*/
    }

    .page_7 .sub-content h3.h3notactive{
        display: none;
    }
    .page_7 .sub-content h3.h3active{
        display: none;
    }


    .backlist{
        width: 190px;
        height: 40px;
        margin: 0px auto;
        background: #959595;
        color: #fff;
        text-align: center;
        font-family: 'proxima_nova_rgbold';
        cursor: pointer;
        line-height: 41px;
    }


    .page_1 .page p img{
        max-width: 300px;
        height: auto;
    }

    ul.menu li.active a{
        background: none;
    }
    .title, .title-main{
        font-family: 'proxima_nova_rgbold';
    }
    .r{
        font-size: 14px !important;
    }


    .page_ .mobile-size{
        display: block !important;
    }
    span.ui-btn-inner{
        /*height: 20px;*/
        font-size: 16px;
        padding-left: 4px !important;
        text-transform: uppercase;
    }
    .sub-head4 span.ui-btn-inner span[data-icon]:before{
        font-size: 13px;
        top: 1px;
    }
    .sub-head4 span.ui-btn-inner{
        /*padding-top: 4px;*/
        /*padding-bottom: 4px;*/
        /*top: 3px;*/
    }

    .sub-head4 .mobile-size .select1,
    .sub-head4 .mobile-size .select2{
        top: 2px;
    }

    .mainmobile_form2 .error{
        font-size: 10px;
    }

}