@media (min-width: 960px) {

    .mobile,.planshet{
        display: none !important;
    }


    .hright .link1,.hright .link2{
        position: relative;
    }
    .hright .link1{
        left: -33px;
    }
    .hright .link2{
        right: -12px;
    }

    .sub-head4{
        display: none;
    }

    a.logo{
        top: -1px;
    }
    .error{

        display: block;
        width: 192px;
        text-align: center;
    }
    .product-detals{
        width: 440px;
    }
}