@media (min-width: 766px) and (max-width: 959px)  {

    .desctop,.mobile{
        display: none;
    }
	 #wrapper {
        width: 100%;
        padding: 0px;
        position: relative;
        z-index: -50;
    }
    body, .ui-page-active
    {
      position: relative;
      z-index: -51;
    }
     ul.menu {
		min-width: 100%;
     }
     ul.menu:after {
         content: none;
     }
     #footer {
		/*width: 759px;*/
		width: 100%;
                margin: 0px auto 0;
     }
     .comas_disp{
         display: block !important;
     }
    .hright {
        float: left;
        width: 323px;
        background: none;
    }
    .hright .link2  {
        margin-left: 20px
    }
    .hright .link1:hover, .hright .link2, .hright .planshet {
        /*margin-left: 25px*/
        color: black;
        background: none;
    }

    .backto2{
        position: fixed;
        /*top: 0px;*/
        top: 46px !important;
    }

    .link1:hover [data-icon]:before, .link2:hover [data-icon]:before {
        color: black!important;
    }
    .hright .word {
        display: none;
    }
    .hleft{
        float: right;
        width: 320px;
        background: none;
    }
    .hleft > span, .hleft a {
        display: none;
    }
    .sub-head {
        text-align: inherit;
        height: 99px;
    }
		
	div.page_7 .sub-content .page{
		width: 100%;
		margin:0 auto;
                                
	}
        div.page_7 .sub-content h3{
            background-color: #DCDCDC;
            margin: 2px 0;
            padding: 0;
            font-weight: normal;
        }
        .page_7 .sub-content h3 span.contr{
            float: right;
            display: none;
        }
        .page_7 .sub-content h3 span.contrm{
            float: right;
            display: block;
        }
        div.page_7 .sub-content h3:hover{
            background-color: white;
        }
    div#content .sub-content{
        padding-bottom: 0px;
    }
    .block-menu {
        padding-left: 0px;
        padding-right: 0px;
        z-index: 100;
        position: relative;
    }
    div.hleft div.mobile-size {
        display: inline-block;
        background: none;
        font-family: 'proxima_nova_rgregular';
        font-size: 12px;
        text-transform: uppercase;
        margin-left: 80px;
        padding-bottom: 0px;
        padding-top: 0px;
        position: absolute;
        top: 35px;
    }
    #select_size {
        background: white;
        padding: 2px;
        border: 2px solid gray;
        margin: 4px;
    }
    .filter-size {

        display: none;
    }
    .title-main {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .products {
        padding-top: 0px;
    }
		
		.product_title {
			margin: 0 0 13px 33px;
			font-size: 20px ;
                        text-transform: uppercase;
		}
		.form_buy{
			 margin-top: 0;
			 padding: 18px 20px;
			 text-align: left;
                         height: 460px;
                         width: 300px;
                         font-size: 13px;
		}
                .form_buy .error {
                    text-align: right;
                    right: 24px;
                    left: 0;
                }
		
		.form_buy input[type="text"], .form_buy textarea, .form_buy .textarea_div{
			width: 271px;
		}
		
		.mobole-phone{
				position: relative;
				/*top: -72px;*/
		}
		
		.your-name{
				position: relative;
				/*top: 72px;*/
		}
		.form_item_title{text-align: left;
                                 padding-bottom: 1px;
                }
		.link-buy{
                    text-align: center;
                    padding-top: 120px;
                }
		.required_fields {padding-top: 13px;
                                   /*padding-right: 49px;*/
                }
                .link-buy a {
                    padding: 9px 19px 7px;
                }
		.error {
			bottom: 28px;
			left: 120px;
		}
		
    .filter-cat {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        padding-top: 20px;
    }
    .filter-cat a{
        font-size: 18px;
    }
    .products .prod {
        width: 50%;
    }
    #footer {
        height: 70px;
        padding-top: 38px;
    }
    #footer div {
        padding-top: 40px;
    }
    #footer div a:first-child, #footer div a:last-child{
        display: none;
    }
    .menu {
        display: none;
        background-color: white;
    }
    .mobile_menu {
        display: block;
        text-align: center;
        background: #959595;
        height: 46px;
        line-height: 44px;
        margin-top: 1px;
    }
    .mobile_menu a {
        text-decoration: none;
        width: 100%;
				display: block;
        text-transform: uppercase;
        color: white;
    }
		
		.point {
			display: inline;
		}

    .mob a span[data-icon]:before {
        color: #959595;
    }
    .mobile_menu a span[data-icon]:before {
        color: #FFFFFF;
    }
		.pol-i-razmer{
			 display: none;
		}
	
		.sub-head2 .logod, .sub-head2 .planshet{
        display: none;
    }
    .sub-head2 span.logom{
        font-size: 44px;
        margin-left: 27px;
    }

    .sub-head2 a.logo{
        margin-left: -25px;
		
    }

 		.sub-head2 {
			background: #959595;
      height: 45px;
			position: fixed !important;
			z-index: -1!important;
			width: 100%;
			top: 0px;
		}
		/*.sub-content11 .sub-head4{
      z-index: 1000 !important;
    }*/
		.sub-head2 .logom {
			display: block;
		}
		
		.sub-head2 .mobile-size {
			top: -36px !important;
			position: relative !important;
			margin-left: 55px !important;
		}
		
		.sub-head2 .hright{
			float: none;
			padding: 0;
		}
		
		.sub-head2 .return {
			display: block;
			padding-left: 10px;
                        padding-top: 10px;
			text-align: left;
		}

        #footer a{
            border-bottom: 0px;
        }
         a.return{
            opacity: 0;
        }

        .page_product a.return{
            opacity: 1;
        }
		.sub-head2 a.logo span[data-icon]:before { 
                    top: 0px;
                    
                }
		
		.return a {
			color: #959595;
			background: url("../img/ugol.png") no-repeat left center #fff;
			text-decoration: none;
			padding: 5px;
			height: 7px;
			width: 46px;
			line-height: 3px;
		}
		
		.link_to_menu{
			padding-left: 19px;
		}
		div.return span[data-icon]:before {
			font-size: 26px;
			cursor: pointer;
			background: #959595;
			color: #fff;
		}
				
		.sub-head2 .pol-i-razmer{
        display: inline;
				color: #FFF;
				margin: 0;
    }
		
		.sub-head2 .cat{
        display: inline;
    }
		
		.sub-head2 .select_size{
				margin: 0;
		}

		.sub-head2 .link1,.sub-head2 .link2{
        display: none;
    }
		
    /* .fixed_menu {
			position: fixed;
			top: 7px;
			left: 50px;
			z-index: 3;
    } */
		
    .fixed_menu_drop {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
				z-index: 3;
    }
    .block-menu {
        padding-top: 0px;
        margin-top: -1px;
    }
    ul .menu {
        list-style-type: none;
        padding-top: 8px;
    }
    ul.menu li {
        display: block;
        background: rgb(204, 204, 204);
        padding-top: 12px;
        margin-top: 2px;
        padding-bottom: 10px;
        width: 100%;
    }
    ul.menu li a {
        color: rgb(124, 124, 124);
    }
    ul.menu li a:hover {
        background-color: rgb(204, 204, 204);
    }
    ul.menu li.sepa {
        display: none;
    }
    .prod_img {
        width: 300px;
        padding-top: 0px;
        padding-left: 20px;
    }
    .prod_img img {
        text-align: center;
        margin: 0 auto;
    }
    .prod_img img.desctop, .prod_img img.mobile {
        display: none;
    }
    .left {
       width: 350px;
        margin-left: 72px;
    }
    .right{
         margin-right: 72px;
    }
    .product-detals {
        width: 350px;
    }
    .fproduct_title, .fproduct_vk {
        display: none;
    }
    .fproduct_descr, .fproduct_size, .fproduct_price {
        
     /*   left: 50px;
        position: absolute;
        top: 524px;*/
        width: 310px;
    }
    .fproduct_size {
        top: 673px;
    }
    .fproduct_price {
        top: 700px;
    }

    .hright{
        text-align: center;
        padding-top: 36px;
        padding-left: 6px;
        height: 60px;
        /*padding-left: 71px;*/
    }

    .hright a{
        padding: 8px;
        margin: 0px !important;
    }
    .hright .ico{
        font-size: 26px;
        left: 1px;
        margin-right: 12px;
        position: relative;
        top: 0px;
    }


    .select_size{
        /*display: none;*/
    }
    /*.hright .link1{*/
        /*margin-left: 29px;*/
    /*}*/
       /**/

    .sub-head2 .pol-i-razmer{
       /* display: none;*/
       text-transform: none;
       margin-left: 30px;
    }

    /*.sub-head2 .fixed_menu{*/
        /*position: fixed;*/
        /*z-index: 9999;*/
        /*top: 100px;*/
    /*}*/

    .fixed_menu{
        position: fixed !important;
        top: 46px;
        width: 320px !important;
        z-index: 999;
        display: none;
    }

    .prod_img a .mobile{
        display: block;
    }
    div.sub-head a.logo span:first-child{
		font-size: 100px;
    }
    div.mobile-size select.select-size{
		background-color: white;
		width: 60px;
    }
    div.mobile-size select.mob-cat{
		/*margin-left: 30px;*/
    }
    .hleft span, .hleft a {
        margin: 0 1px;
    }
    .hleft span .select2 {
        width: 44px;
    }
    div.mobile-size .select1{
        /*display: none;*/
    }
    #header {
        height: 144px;
        font: 12px Arial,Tahoma,Verdana,sans-serif;
        z-index: 1000;
    }
    .title, .title-main {
        line-height: 30px;
        padding: 37px 30px 40px;
        margin-bottom: 0;
    }
    .selectbox{
        background-color: white;
    }
    .flex-control-nav{
        bottom: 10px;
        z-index: 94;
    }
    .prod_link{
        
        padding-top: 14px;
    }
    .buy {
        background: none repeat scroll 0 0 #000000;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        font-family: 'proxima_nova_rgbold';
        font-size: 20px;
        height: 36px;
        margin: 0 auto;
        padding-top: 3px;
        text-decoration: none;
        text-transform: uppercase;
        width: 135px;
        line-height: 36px;
    }
    #content{
        padding: 0;
        position: relative;
        z-index: -10;
    }
    div.full_product .right{
        margin-right: 10px;
    }
    div.full_product .left{
        margin-left: 10px;
        /*margin-bottom: 15px;*/
    }

    .full_product > .product > .left{
        margin-bottom: 15px;
    }

    .fproduct_img {
        height: 300px;
        position: relative;
        width: 300px;
        margin-left: 36px;
    }
    .fproduct_img img{
        width: 300px;
    }
    .full_product {
        padding-top: 40px;
    }
    .froduct_img_thumb{
        width: 350px;
        position: absolute;
        margin-top: -23px;
        padding-left: 145px;
        padding-top: 0;
        
    }
    .froduct_img_thumb img {
        display: none;
    }
    .froduct_img_thumb li {
        display: inline;
        margin: 0 4px;
    }
    .froduct_img_thumb li a{
        height: 8px;
        width: 8px;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-indent: -9999px!important;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        display: inline-block;
    }
    div.froduct_img_thumb a.active_coma {
        background: black;
    }
    .form_buy .form_col{
        width: 200px;
    }
    .full_product .form_buy{
        padding: 0;
    }
    .form_buy .hidden .right, .form_buy .textarea_div, .form_buy .form_item_title2{
        float: left;
        margin-left: 10px;
    }
    .form_buy .hidden:first-child{
        padding-top: 14px;
    }
    .form_buy .form_item_text{
        width: 306px;
    }
    .full_product .body-slider{
        /*margin-top: 200px;*/
    }
    .hleft, .hright{
        border-bottom: none;
    }
    a.logo span[data-icon]:before{
        background-color: black;
    }
    .hright a span[data-icon]:before, .hright a:hover span[data-icon]:before {
        color: #7F7F7F !important;
    }
    .hright a.planshet{
        font-size: 20px;
    }
    div.sub-head a.logo{
        margin-left: -48px;
        height: 97px;
    }
    .buy_div{
        padding-top: 13px;
        padding-bottom: 40px;
    }
    div.ui-loader{
        display: none;
    }
   .main-url a, .main-url:hover a, .main-url span {
        border-bottom: none;
        color: black;
    }
    .main-url span.contrm[data-icon]:before{
        color: gray;
    }
    span.main-url:hover{
        background-color: white;
    }
    .select2 div.ui-select, .select1 div.ui-select{
        top: 0;
    }
    @-moz-document url-prefix() {
        .select2 div.ui-select, .select1 div.ui-select {top: 8px;}
        .sub-head2 .mobile-size {top: -43px !important;}
    }
    div.form_buy .textarea_div {
        height: 55px;
    }
    
    div.body-slider .flexslider {
        margin: auto;
        position: relative;
        width: 660px;
    }
    .backto{
        margin-left: -113px;
        height: 14px;
        z-index: 90;
    }
    
    .page_7 .sub-content h3 span {
        margin: 0 45px;
    }
    .page_7 .sub-content h3 span.contr{
        float: right;
    }
    div.page_1 .sub-content .sub-content {
        /*width: 100%;  */
    }
    .flex-control-paging li a{
        height: 8px;
        width: 8px;
    }
    .full_product .product {
        padding-bottom: 55px;
    }
    .page_7 .sub-content h3.h3notactive{
        display: none;
    }
    .page_7 .sub-content h3.h3active{
        display: none;
    }


    .backlist{
        width: 190px;
        height: 40px;
        margin: 0px auto;
        background: #959595;
        color: #fff;
        text-align: center;
        font-family: 'proxima_nova_rgbold';
        cursor: pointer;
        line-height: 41px;
    }
    .main-url:hover span[data-icon]:before{
        color: gray;
    }
    .sub-content .page{
        /*width: 764px;*/
        /*margin: 0px auto;*/
        padding: 0px 10px;
    }
	    .sub-head4{
        display: block !important;
    } 
	
	   .sub-content11 ul.menu{
        position: fixed !important;
        top: 46px;
        width: 320px;
        background-color: white;
    }
    .price2 {
        margin-left: 15px;
    }
    .price1 {
        margin-left: 10px;
    }
    .fproduct_price span.small {
        display: none;
    }
    .mess_happy{
        padding-top: 160px;
    }
    .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
        opacity: 0.4;
    }
    .lupa, .backto {
        opacity: 0.4;
    }
    .form_buy .mobole-phone label, .form_buy .needs-sizes label, .form_buy .form_item_title2 label {
        display: none;
    }
    .form_buy label.plans {
        display: initial;
    }
    .hleft{
        display: none;
    }
    .page_ .hleft{
        display: block;
    }

    .page_product .hleft{
        display: none;
    }

    .products .prod{
        margin-right: 0px;
    }

    .full_product .product-detals{
        float: none;
         margin-left: 46px;
    }

    .full_product .form_buy{
        position: absolute;
        right: 50px;
        top: 42px;
    }

    .full_product .required_fields {
        position: absolute;
        right: 50px;
        top: 500px;
         width: 301px;
    }


}


