.hleft {
    float: left;
    /*padding-bottom: 42px;*/
    /*padding-left: 44px;*/
    padding-top: 43px;
    /*width: 365px;*/
}

.hleft, .hright {
    /*width: 30%;*/
    width: 396px;
    height: 54px;
    border-bottom: 2px solid #788087;
    /*background: url("../img/sepa2.png") repeat-x left bottom;*/
}

.hright {
    float: right;
    /*padding-bottom: 42px;*/
    /*padding-right: 61px;*/
    height: 65px;
    padding-top: 32px;
    /*text-align: right;*/
    /*width: 348px;*/
}

.hleft span {
    /*margin-right: 56px;*/
}

.sub-head {
    height: 100px;
    text-align: center;
    /*overflow: hidden;*/
}

.link2 {
    /*margin-left: 47px;*/
}

.hright img {
    position: relative;
    bottom: -8px;
    left: -14px;
}

.hleft span, .hleft a {
    margin: 0px 20px;
    position: relative;
}
.hleft > span{
    /*left: -18px;*/
}
.hleft a{

}

.block-menu {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 17px;
}

.page h3 {
    font-size: 25px;
    /*float: left;*/
}

.page_7 .sub-content h3 {
    line-height: 20px;
    line-height: 52px;
}

.page_7 .sub-content h3 a {
    /*background: url("../img/cont1.png") no-repeat right center;*/
    /*padding-right: 20px;*/
    font-size: 25px;
    text-decoration: none;
    /*border-bottom: 2px dotted #010101;*/
}

.page_7 .sub-content h3 a:hover {
    /*background: ;*/
}

.page_7 .sub-content h3 span {
    /*background: url("../img/cont1.png") no-repeat scroll right center transparent;*/
    /*display: inline-block;*/
    /*height: 10px;*/
    /*left: 5px;*/
    /*position: relative;*/
    /*width: 15px;*/
}

/*.page h3:after{*/
/*content: " ";*/
/*clear: both;*/
/*display: table;*/
/*}*/
.main-url a {
    border-bottom: 2px dotted #010101;

}

.main-url:hover a {
    border-bottom: 2px dotted #fff;

}

.main-url {
    padding: 3px 3px 8px 8px;

}

.contr {
    margin-left: 8px;
    position: relative;
    top: 7px;
}

.main-url:hover {
    background: #959595;
}

.main-url:hover a {
}

.main-url:hover a, .main-url:hover span[data-icon]:before {
    color: #fff;
}

.hright .link1,.hright .link2{
    position: relative;
}
.hright .link1{
    /*left: -35px;*/
}
.hright .link2{
    /*right: -13px;*/
}
