.page h3:hover{
    text-decoration: none;

}

.page ul{
    border: none;
    box-shadow: none;
}

.sub-content{
    color: #788087;
    padding-bottom: 10px;
}
.sub-content p{
    padding-bottom: 20px;
    line-height: 18px;
    font-size: 16px;
}
.sub-content h3{
    color: #000;

}

.page_1 h3,
.page_2 h3,
.page_3 h3,
.page_4 h3,
.page_5 h3,
.page_6 h3,
.page_7 h3,
.page_8 h3
{
    color: #000;
    font-family: 'proxima_nova_rgregular';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: normal;
    /*padding-bottom: 12px;
    padding-top: 5px;*/
    display: block;
    padding:20px 0px;
}

.page_7 .main-url > a{  
    text-transform: none;
}
.r{
    font-family: 'rubl';
    /*font-size: 15px;*/
}

.page_7 .sub-content ul li{
    font-size: 16px;
    line-height: 18px;
}

.products .r{
    /*font-family: 'rubl';*/
    font-size: 14px;
}

.page_7 .sub-content .sub-content,
.page_1 .sub-content .sub-content,
.page_2 .sub-content .sub-content,
.page_3 .sub-content .sub-content,
.page_5 .sub-content .sub-content,
.page_6 .sub-content .sub-content,
.page_8 .sub-content .sub-content
{
    width: 660px;
    margin: 0px auto; 
}

/*.comas_disp{display:none}*/


.hright span.ico[data-icon]:before
.sub-head{
    position: relative;
}

a.logo{
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
a.logo span[data-icon]:before{
    color:#000;
    background: #fff;
    position: relative;
    /*top: 4px;*/
}
div.select_size, .mob-cat{
    /*border: 2px solid #788087;*/
    /*font-weight: bold;*/
    /*margin-left: 13px;*/
    /*margin-right: 13px;*/
    /*padding: 3px 10px;*/
}
.sub-head2 .mobile-size{
    padding-top: 0px !important;
}
.backto2{
    position: fixed;
    top: 0px;
    /*top: 46px;*/
}
.rasporka{
    width: 100%;
    height: 100px;
    display: none;
}
.dropdown{
    width: 100%;
    top: 29px;
}
.dropdown ul{
    list-style: none;
}
.dropdown ul li{
    border: 1px solid #000;
    background: #fff;
}

.sub-content .filter-size span.selectbox{
    margin: 0px 15px;
    position: relative;
    top: -3px;
    height: 17px;
}

.ui-select div[data-icon]:before{
    content: normal;
}
.ui-select .ui-btn select {
    opacity: 0.0001;
}
.ui-select .ui-btn select {
    cursor: pointer;
    /*height: 3em;*/
    left: 0;
    max-height: 100%;
    min-height: 100%;
    opacity: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.ui-btn-inner {
    display: block;
    overflow: hidden;
    /*padding: 0.6em 25px;*/
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-select .ui-btn {
    overflow: hidden;
}
.ui-btn {
    cursor: pointer;
    display: block;
    /*margin: 0.5em 5px;*/
    /*padding: 0;*/
    position: relative;
    text-align: center;
}

div.ui-select{
    display: inline-block;
    position: relative;
    top: 8px;
}
.filter-size div.ui-select{
    margin: 0px 10px;
}
span.ui-btn-inner{
    border: 2px solid #959595;
    padding: 3px;
    /*height: 18px;*/
    /*width: 45px;*/
    background: #fff;
    color: #000;
    font-family: 'proxima_nova_rgbold';
}

.img-last{
    margin-right: 0px !important;
}

.logod{
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/logo.png") no-repeat;
}

.logom{
    /*display: block;*/
    width: 46px;
    height: 46px;
    background: url("../img/logo2.png") no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {


    .logod{
        display: block;
        width: 100px;
        height: 100px;
        background: url("../img/logo@2x.png") no-repeat;
        background-size: 100px 100px;
    }

    .logom{
        /*display: block;*/
        width: 46px;
        height: 46px;
        background: url("../img/logo2@2x.png") no-repeat;
        background-size: 46px 46px;
    }

}

.hide2{
    display: none;
}

.comas_disp{
    display: none;
}

.sub-head3{
    z-index: 100;
    position: relative;
    background: #fff;
}

.sub-head4{
    z-index: 99;
    position: fixed;
    /*position: absolute;*/
    /*display: none;*/
    /*opacity: 0;*/
}



.sub-head2{
    /*-webkit-transition: height 0.1s ease-out;*/
    /*-moz-transition: height 0.1s ease-out;*/
    /*transition: height 0.1s ease-out;*/
}
@media (min-width: 759px) and (max-width: 959px)  {

    .sub-head {
        height: 100px;

    }

    .sub-head2{
        height: 46px;
    }
}

.contrm{
    display: none;
}

.mainmobile_form .required_fields {
    display: none;
}

#footer .required_fields{
    display: none;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    .filter-size div.ui-select{
        top: 0px;
    }

    .filter-size{
        padding-top:12px;
    }
}


#footer span span[data-icon]:before,#footer span[data-icon]:before{
    font-size: 6px;
    position: relative;
    top: -2px;
}

.wrap .sub-content .sub-content,.wrap .title-main{
    /*display: none;*/
}

.title,
.title-main,
.filter-size,
.filter-cat a.active,
.fproduct_title,
.fproduct_descr,
.price_old,
.form_item_title label{
    color: #788087!important;
}

span.ui-btn-inner,
#footer div{
    border-color: #788087!important; ;
}

span.ui-btn-inner span[data-icon]:before{
    font-size: 13px;
    position: relative;
    top: 2px;
}

.last{
    background: #fff!important;
}
.mobile-size{
    display: none;
}
.return a.return{
    /*font-family: Arial;*/
    font-size: 13px;
    padding-right: 7px;
}
.flink{
    margin: 0px !important;
}

.full_product .r{
    font-size: 21px;
}

.plans{
    display: none;
}
span.ui-btn-text > span{
    position: relative;
    top: 1px;
}