.full_product{
    padding-top: 20px;
}

.product-detals{
    width: 447px;
}

.fproduct_title{
    /*padding-bottom: 15px;*/
    font-size: 24px;
    text-transform: uppercase;
    color: #959595;
    padding-bottom: 13px;
    padding-top: 2px;
}

.fproduct_descr{
    line-height: 16px;
    padding-top: 7px;
    font-size: 14px;
    font-family: 'proxima_nova_rgregular';
    color: #acacac;
}

.fproduct_size{
    padding-top: 8px;
    font-family: 'proxima_nova_rgregular';
}

.fproduct_price{
    padding-top: 5px;
}

.form_buy{
    background: #DADEE2;
    margin-top: 26px;
    padding: 18px 9px;
    /*font-weight: bold;*/
    text-align: center;
    padding-bottom: 36px;
    height: 286px;
}

.form_buy input[type="text"],.form_buy .textarea_div {
    border: 2px solid #959595;
    -webkit-box-shadow: inset 0px 0px 3px 1px , 0.5);
    box-shadow: inset 0px 0px 3px 1px , 0.5);
    padding: 3px;
    background: #fff                  ;
}
.form_buy .textarea_div {
    margin-top: 3px;
    height: 51px;
}

.product{
    padding-bottom: 30px;
}

.form_buy .right .form_col {
    /*padding-right: 17px;*/
}

.form_buy input[type="text"]{
    width: 182px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: 'proxima_nova_rgbold';
    text-transform: uppercase;
    color: #000;

}
.form_buy textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.link-buy a,
.dopsubmit
{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
   
}
.link-buy{
    padding-top: 28px;
}
.red{
    /*color: red;*/
    background: url("../img/red.png") no-repeat;
    width: 9px;
    height: 9px;
    /*background:  url("../img/sepa4.png") no-repeat;
    width: 24px;*/
    display: inline-block;
}

.red2{
     background:  url("../img/sepa4.png") no-repeat;
     display: inline-block;
    width: 28px;
     height: 9px;
}

.form_item_title{

}

.form_col{
    padding-bottom: 20px;
    /*float: left;*/
}
.form_item_title{
    padding-bottom: 2px;
}

.required_fields{
    padding-top: 16px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'proxima_nova_rgregular';
}

.small{
    /*color: ;*/
    /*font-size: 12px;*/
}
.price_new,.price_old{
    font-size: 22px;
    margin: 0px 16px;
}
.price_new{
    color: #000;
}

.price_old{
    text-decoration: line-through;
    font-family: 'proxima_nova_rgregular';
    color: #959595;
}

/*слайдер*/

.body-slider{
    position: relative;
    margin-bottom: 40px;
}

.fproduct_img img{
    display: none;
    cursor: pointer;

    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-border-radius: 4px;*/
}

.full_product .flex-control-nav li{
     margin: 0 8px;
}

.froduct_img_thumb img{
    cursor: pointer;
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-border-radius: 4px;*/
    margin-right: 22px;
    margin-bottom: 10px;
}

.fproduct_img{
    position: relative;
    /*width: 400px;*/
    /*height: 400px;*/
    width: 440px;
    height: 440px;
}

.froduct_img_thumb{
    /*width: 475px;*/
    padding-top: 19px;
}

.lupa{
    /*display: block;*/
    /*background: url("../img/lupa.png") no-repeat;*/
    /*width: 50px;*/
    /*height: 49px;*/
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    padding-left: 9px;
    padding-top: 9px;
    width: 40px;
    height: 40px;
    background:  #a9a9a9;;
}

.lupa[data-icon]:before{
    color: #fff;
    background: #a9a9a9;
    font-size: 32px;
}

.full_product .product .left{
    /*padding:3px;*/
}

.backto{
    display: block;
    position: absolute;
    color: #fff;
    background: #acacac;
    text-decoration: none;
    display: block;
    font-size: 18px;
    left: 50%;
    margin-left: -124px;
    padding: 16px 25px;
    z-index: 999;
}

/*форма отправки*/
.form_buy{
    position: relative;
    /*width: 413px;*/
    /*width: 440px;*/
    padding-bottom: 26px;
}
.form_buy input.true{
    border: 2px solid green;
}

.form_buy input.false{
    border: 2px solid red;
}

.active_f{
    border: 2px solid #000 !important;
}

.sub-head2{
    /*display: none;*/
}
/*сообщение ок*/

.mess_happy{
    text-align: center;
    padding-top: 61px;
    color: #959595;
}

.mess_ok{
    background: url("../img/ok.png") no-repeat;
    width: 71px;
    height: 51px;
    margin: 0px auto;

}

.mess_title{
    font-size: 20px;
    padding-top: 17px;
}

.mess_body{
    font-weight: normal;
    padding-top: 13px;
    font-family: 'proxima_nova_rgregular';
}

.decor_load{
    /*background: url("../img/ajax-loader_2.gif") no-repeat;*/
   /* background: url("../img/load.gif") no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;*/
}
.decor_load{
    font-size: 80px !important;
    font-family: 'Web Symbols';
      left: 50%;
    margin-left: -40px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
}


.error{
    position: absolute;
    color: red;
    bottom: -19px;
    right: 0px;
    font-size: 12px;
    font-weight: normal;
    font-family: 'proxima_nova_rgregular';

}

.form_item_text{
    position: relative;
}

.form_item_title label{
    cursor: pointer;
    color: #959595;
}
.fproduct_size,.fproduct_price .small{
    color: #959595;
}
.fproduct_size .small{
    font-size: 12px;
}
.fproduct_price .small{
    font-size: 12px;
    font-family: 'proxima_nova_rgregular';
}
.fproduct_size .big{
    color: #000;
}
.fproduct_img .flex-control-nav, .fproduct_img .flex-direction-nav{display: none;}

/*.slides img {*/
/*width: 100%;*/
/*display: block;*/
/*}*/
/*.thumbs li{display: inline-block;}*/

.body-slider .flexslider .flex-control-nav a{
    text-indent: 0;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    text-decoration: none;
    font-size: 19px;
}
.body-slider .flexslider .flex-control-nav a.flex-active{
    color: #acacac;
}
.body-slider .flexslider .flex-control-nav{
    bottom: 27px;
    z-index: 9999;
}