.full_product{
    padding-top: 29px;
}

.product-detals{
    width: 463px;
}

.fproduct_title{
    padding-bottom: 15px;
    font-size: 24px;
}

.fproduct_descr{
    line-height: 14px;
    padding-top: 7px;
    font-size: 14px;
}

.fproduct_size{
    padding-top: 8px;
}

.fproduct_price{
    padding-top: 12px;
}

.form_buy{
    background: #f5f5f5;
    margin-top: 31px;
    padding: 18px 9px;
    /*font-weight: bold;*/
    text-align: center;
    padding-bottom: 36px;
    height: 286px;
}

.form_buy input[type="text"],.form_buy .textarea_div {
    border: 2px solid #959595;
    -webkit-box-shadow: inset 0px 0px 3px 1px , 0.5);
    box-shadow: inset 0px 0px 3px 1px , 0.5);
    padding: 3px;
}
.form_buy .textarea_div {

    height: 53px;
}
.form_buy input[type="text"]{
    width: 182px;

}
.form_buy textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: vertical;
}
.link-buy a{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    font-size: 20px;
    text-transform: uppercase;
}
.link-buy{
    padding-top: 39px;
}
.red{
    /*color: red;*/
    background: url("../img/red.png") no-repeat;
    width: 9px;
    height: 9px;
    display: inline-block;
}

.form_item_title{

}

.form_col{
    padding-bottom: 23px;
}
.form_item_title{
    padding-bottom: 2px;
}

.required_fields{
    padding-top: 14px;
    font-size: 13px;
    font-weight: normal;
}

.small{
    /*font-size: 12px;*/
}
.price_new,.price_old{
    font-size: 22px;
    margin: 0px 25px;
}
.price_new{
    color: #000;
}

.price_old{
    text-decoration: line-through;
}

/*слайдер*/

.body-slider{
    position: relative;
}

.fproduct_img img{
    display: none;
    cursor: pointer;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 4px;
}

.froduct_img_thumb img{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 4px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.fproduct_img{
    position: relative;
    width: 400px;
    height: 400px;
}

.froduct_img_thumb{
    width: 475px;
    padding-top: 30px;
}

.lupa{
    display: block;
    background: url("../img/lupa.png") no-repeat;
    width: 50px;
    height: 49px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.full_product .product .left{
    padding:3px;
}

.backto{
    display: block;
    position: absolute;
    color: #fff;
    background: #acacac;
    text-decoration: none;
    display: block;
    font-size: 18px;
    left: 50%;
    margin-left: -124px;
    padding: 16px 25px;
    z-index: 9999;
}

/*форма отправки*/
.form_buy{
    position: relative;
}
.form_buy input.true{
    border: 2px solid green;
}

.form_buy input.false{
    border: 2px solid red;
}

/*сообщение ок*/

.mess_happy{
    text-align: center;
    padding-top: 61px;
}

.mess_ok{
    background: url("../img/ok.png") no-repeat;
    width: 71px;
    height: 51px;
    margin: 0px auto;

}

.mess_title{
    font-size: 20px;
    padding-top: 17px;
}

.mess_body{
    font-weight: normal;
    padding-top: 13px;
}

.decor_load{
    background: url("../img/ajax-loader_2.gif") no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
}

.error{
    position: absolute;
    color: red;
    bottom: -19px;
    left: 11px;
    font-size: 11px;
    font-weight: normal;
}

.form_item_text{
    position: relative;
}

.form_item_title label{
    cursor: pointer;
}