* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 12px/18px Arial,Tahoma,Verdana,sans-serif;
    height: 100%;
    width: 100%;
}
a {
    color: blue;
    outline: medium none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
#content .node p {
    margin: 0 0 18px;
}
#content .right ul{
    margin-left: 17px;
}
img {
    border: medium none;
}
input {
    vertical-align: middle;
}

table{
    width: 100%;
}


/*мои заготовки*/

input[type="text"]:focus,body *:focus {
    outline: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.hidden {
    overflow: hidden;
}
.bold{
    font-weight: bold;
}
.clear{
    clear: both;
}