#container, #editor {
    width: 100%;
}

.admin-menu li{
    list-style: none;
    display: inline;
}

.admin-menu{
    padding-top: 12px;
}

.wysiwyg{
    padding: 10px;
}

.pages label{
    display: inline;
    margin: 0px;
}

.action{
    padding: 10px 0px;
}

.pages td{
    padding: 5px 0px;
}

div.wysiwyg iframe{
    height: 300px;
    /*padding: 10px;*/
    /*width: 900px !important;*/
    color: #555555;
}
.csv_error,.worning{
    text-align: center;
    background: red;
      font-size: 21px;
    padding: 10px 0px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 920px;
}

.csv_ok{
    color: green;
    font-size: 24px;
    padding: 10px 0px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 920px;
}

.worning{
    top: 33px;
    font-size: 16px;
    padding: 5px;
    background: #FFFE01;
}


#login-form{
		margin: 0 auto;
		width: 250px;
		padding: 20px;
		border: 1px solid #CCC;
		border-radius: 15px;
}
#login-form  .error{
		border: 1px solid red;
		text-align: center;
		background: rgb(247, 218, 218);
}
.admin-login-head{
		margin: 100px auto 20px;
		width: 280px;
		font-size: 24px;
}