@font-face {
	font-family: 'Conv_Proxima-Nova-Bold';
	src: url('../fonts/Proxima-Nova-Bold.eot');
	src: local('☺'), url('../fonts/Proxima-Nova-Bold.woff') format('woff'), url('../fonts/Proxima-Nova-Bold.ttf') format('truetype'), url('../fonts/Proxima-Nova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ProximaNovaExCn-Reg';
	src: url('../fonts/ProximaNovaExCn-Reg.eot');
	src: local('☺'), url('../fonts/ProximaNovaExCn-Reg.woff') format('woff'), url('../fonts/ProximaNovaExCn-Reg.ttf') format('truetype'), url('../fonts/ProximaNovaExCn-Reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Proxima-Nova-Light';
	src: url('../fonts/Proxima-Nova-Light.eot');
	src: local('☺'), url('../fonts/Proxima-Nova-Light.woff') format('woff'), url('../fonts/Proxima-Nova-Light.ttf') format('truetype'), url('../fonts/Proxima-Nova-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Proxima-Nova-Black';
	src: url('../fonts/ProximaNova-Black.eot');
	src: local('☺'), url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf') format('truetype'), url('../fonts/ProximaNova-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}