@font-face {
	font-family: 'UC-Icons';
	src:url('../fonts/UC-Icons.eot');
	src:url('../fonts/UC-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UC-Icons.woff') format('woff'),
		url('../fonts/UC-Icons.ttf') format('truetype'),
		url('../fonts/UC-Icons.svg#UC-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'UC-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.uc-wrong, .uc-water, .uc-water-temperature, .uc-water-loss, .uc-water-level, .uc-water-input, .uc-water-flowspeed, .uc-water-back, .uc-warm, .uc-warm-loss, .uc-settings, .uc-search, .uc-object, .uc-meter, .uc-messages, .uc-menu, .uc-marker, .uc-marker-bg, .uc-info, .uc-heating, .uc-gas, .uc-electricity, .uc-done, .uc-bills, .uc-arrow-up, .uc-arrow-right, .uc-arrow-left, .uc-arrow-down, .uc-threedots, .uc-loading1, .uc-loading0, .uc-loading2, .uc-loading3, .uc-loading4, .uc-loading5, .uc-loading6, .uc-loading7, .uc-loading8, .uc-fullscreen, .uc-cancel {
	font-family: 'UC-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.uc-wrong:before {
	content: "\21";
}
.uc-water:before {
	content: "\22";
}
.uc-water-temperature:before {
	content: "\23";
}
.uc-water-loss:before {
	content: "\24";
}
.uc-water-level:before {
	content: "\25";
}
.uc-water-input:before {
	content: "\26";
}
.uc-water-flowspeed:before {
	content: "\27";
}
.uc-water-back:before {
	content: "\28";
}
.uc-warm:before {
	content: "\29";
}
.uc-warm-loss:before {
	content: "\2a";
}
.uc-settings:before {
	content: "\2b";
}
.uc-search:before {
	content: "\2c";
}
.uc-object:before {
	content: "\2d";
}
.uc-meter:before {
	content: "\2e";
}
.uc-messages:before {
	content: "\2f";
}
.uc-menu:before {
	content: "\30";
}
.uc-marker:before {
	content: "\31";
}
.uc-marker-bg:before {
	content: "\32";
}
.uc-info:before {
	content: "\33";
}
.uc-heating:before {
	content: "\34";
}
.uc-gas:before {
	content: "\35";
}
.uc-electricity:before {
	content: "\36";
}
.uc-done:before {
	content: "\37";
}
.uc-bills:before {
	content: "\38";
}
.uc-arrow-up:before {
	content: "\39";
}
.uc-arrow-right:before {
	content: "\3a";
}
.uc-arrow-left:before {
	content: "\3b";
}
.uc-arrow-down:before {
	content: "\3c";
}
.uc-threedots:before {
	content: "\3d";
}
.uc-loading1:before {
	content: "\3e";
}
.uc-loading0:before {
	content: "\3f";
}
.uc-loading2:before {
	content: "\40";
}
.uc-loading3:before {
	content: "\41";
}
.uc-loading4:before {
	content: "\42";
}
.uc-loading5:before {
	content: "\43";
}
.uc-loading6:before {
	content: "\44";
}
.uc-loading7:before {
	content: "\45";
}
.uc-loading8:before {
	content: "\46";
}
.uc-fullscreen:before {
	content: "\47";
}
.uc-cancel:before {
	content: "\48";
}
